# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Loading Dataset

In [2]:
df = pd.read_excel('data.xlsx', sheet_name = 1)

In [3]:
df.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,p1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,p3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,p6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,p14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,p8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

# Checking unique value()

In [5]:
df.nunique()

show_id         8790
type               2
title           8787
director        4528
country           86
date_added      1713
release_year      74
rating            14
duration         220
listed_in        513
dtype: int64

In [6]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [7]:
category = []
for i in df['listed_in']:
    category += [ j.strip() for j in i.split(',') ]
    
category = list(set(category))

In [23]:
df['title'] = df['title'].apply(lambda x: str(x))

In [9]:
len(category)

42

# Preprocessing

In [13]:
df.loc[4261]

show_id                                        p5967
type                                           Movie
title                            2023-08-15 00:00:00
director                          Swapnaneel Jayakar
country                                        India
date_added                                 3/29/2019
release_year                                    2019
rating                                         TV-14
duration                                     124 min
listed_in       Comedies, Dramas, Independent Movies
Name: 4261, dtype: object

# Data Visualisation

In [11]:
df.groupby('country').size().sort_values(ascending = False)

country
United States     3240
India             1057
United Kingdom     638
Pakistan           421
Not Given          287
                  ...
Soviet Union         1
Paraguay             1
Puerto Rico          1
Somalia              1
Zimbabwe             1
Length: 86, dtype: int64

In [16]:
df[['title','duration']].sort_values(by = 'duration',ascending = False)

                                   title  duration
1995                    Freej Al Taibeen    99 min
6285                       The Sapphires    99 min
6233  The Nutcracker and the Four Realms    99 min
953                              Monster    99 min
5425                         May We Chat    99 min
...                                  ...       ...
2064                      Trial By Media  1 Season
2067                            The Eddy  1 Season
7446                         Nightflyers  1 Season
7445                    The Road to Love  1 Season
8789                                 YOM  1 Season

[8790 rows x 2 columns]

In [25]:
df.groupby('title').size().sort_values(ascending = False)

title
2023-07-22 00:00:00                                2
2023-02-09 00:00:00                                2
2023-08-15 00:00:00                                2
Riphagen - The Untouchable                         1
Ripper Street                                      1
                                                  ..
Happy Jail                                         1
Happy Hunting                                      1
Happy Go Lucky                                     1
Happy Endings                                      1
ìµœê°•ì „ì‚¬ ë¯¸ë‹ˆíŠ¹ê³µëŒ€ : ì˜ì›…ì˜ íƒ„ìƒ    1
Length: 8787, dtype: int64